.findroute {
    position: fixed;
    width: 400px;
    height: 85vh;
    background-color: #ffff;
    left: 0;
    top: 90px;
    transform: translateX(-100%);
    z-index: 1000;
    transition: 0.5s;
    margin-top: 15px;
}

.findroute li {
    line-height: 40px;
}

.findroute li a span:hover {
    color: cornflowerblue;
}

.findroute.active {
    transform: translateX(0);
}

.chart {
    position: fixed;
    width: 400px;
    height: 100vh;
    background-color: #ffff;
    left: 0;
    top: 90px;
    transform: translateX(-100%);
    z-index: 1000;
    transition: 0.5s;
    margin-top: 15px;
}


/* .findroute li {
    line-height: 40px;
}
.findroute li a span:hover {
    color:cornflowerblue;
} */

.chart.active {
    transform: translateX(0);
}

.feedback {
    position: fixed;
    width: 400px;
    height: 100vh;
    background-color: #ffff;
    left: 0;
    top: 90px;
    transform: translateX(-100%);
    z-index: 1000;
    transition: 0.5s;
    margin-top: 15px;
}


/* .findroute li {
    line-height: 40px;
}
.findroute li a span:hover {
    color:cornflowerblue;
} */

.feedback.active {
    transform: translateX(0);
}

.button-feedback {
    height: 32px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 14%);
    border-radius: 4px;
    position: absolute;
    z-index: 1000;
    transition: 0.5s;
    right: 0px;
    bottom: 50px;
}

#geocoderA {
    z-index: 2;
    margin: 20px;
}

#geocoderB {
    z-index: 1;
    margin: 20px;
}

.goongjs-ctrl-geocoder {
    min-width: 100%;
}

body {
    margin: 0;
    padding: 0;
}


/* #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
} */